files:
  "/tmp/install_whatap_agent.sh":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash

      #환경 변수값을 쿼리
      ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k CI_ENV)

      #운영서버에만 설치
      if [ $ENV = 'prd' ]
      then
        if [ ! -f /var/lock/subsys/whatap-infra ]; then
          rpm --import http://repo.whatap.io/centos/release.gpg
          echo "[whatap]" | sudo tee /etc/yum.repos.d/whatap.repo > /dev/null
          echo "name=whatap packages for enterprise linux" | sudo tee -a /etc/yum.repos.d/whatap.repo > /dev/null
          echo "baseurl=http://repo.whatap.io/centos/latest/\$basearch" | sudo tee -a /etc/yum.repos.d/whatap.repo > /dev/null
          echo "enabled=1" | sudo tee -a /etc/yum.repos.d/whatap.repo > /dev/null
          echo "gpgcheck=0" | sudo tee -a /etc/yum.repos.d/whatap.repo > /dev/null

          yum -y install whatap-php
          /usr/whatap/php/install.sh -l x47hn21tqdt65-x16f2nbmnsc28r-x2htdq362attpv -s 52.78.209.94/52.78.224.235 -e /usr/bin/php -p httpd

          yum -y install whatap-infra
          echo "license=x47ho206e1jf1-x4s5ksh39g5kf3-x2od35vgpstspt" |tee /usr/whatap/infra/conf/whatap.conf
          echo "whatap.server.host=13.124.11.223/13.209.172.35" |tee -a /usr/whatap/infra/conf/whatap.conf
          echo "createdtime=`date +%s%N`" |tee -a /usr/whatap/infra/conf/whatap.conf
        fi

        yum -y upgrade

        service whatap-php restart
        service whatap-infra restart
        service httpd restart
      fi

container_commands:
  00_install_whatap_agent:
    command: sudo /tmp/install_whatap_agent.sh