files:
  "/etc/td-agent/td-agent.conf":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      # Treasure Data Input and Output
      <source>
        @type forward
        port 24224
      </source>
      <match td.*.*>
        @type tdlog
        endpoint api.treasuredata.com
        apikey 9525/587bea0bd632abbfe7aafed23e21beb01bfa725f
        auto_create_table
        buffer_type file
        buffer_path /var/log/td-agent/buffer/td
        use_ssl true
      </match>

container_commands:
  00_td_agent_install:
    command: curl -L https://toolbelt.treasuredata.com/sh/install-amazon1-td-agent3.sh | sh
  01_td_agent_restart:
    command: /etc/init.d/td-agent restart