files:
  "/tmp/install_htaccess.sh":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash

      #환경 변수값을 쿼리
      ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k CI_ENV)

      #운영서버
      if [ $ENV = 'prd' ]
          then
          echo "<IfModule mod_rewrite.c>" | sudo tee /var/app/current/.htaccess > /dev/null
          echo "Header set Access-Control-Allow-Origin "*"" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method, Access-Control-Allow-Origin, Access-Control-Allow-Headers, x-api-key, x-api-token, x-api-userid, x-api-hospitalid, x-api-refreshtoken, enctype"" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteEngine On" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteBase /" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<Limit GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all granted" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</Limit>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<LimitExcept GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all denied" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</LimitExcept>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^api/v1.0/([A-Za-z0-9]+)/(.*)\$ v10/\$1/\$2 [QSA,L]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteCond $1 !^(index\.php|docs|include|uploads|robots\.txt|Cart\.php)" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^(.*)$ /index.php/$1 [L,QSA]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</IfModule>" | sudo tee -a /var/app/current/.htaccess > /dev/null
      fi
      if [ $ENV = 'stg' ]
          then
          echo "<IfModule mod_rewrite.c>" | sudo tee /var/app/current/.htaccess > /dev/null
          echo "RewriteEngine On" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteBase /" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<Limit GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all granted" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</Limit>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<LimitExcept GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all denied" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</LimitExcept>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^api/v1.0/([A-Za-z0-9]+)/(.*)\$ v10/\$1/\$2 [QSA,L]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteCond $1 !^(index\.php|docs|include|uploads|robots\.txt|Cart\.php)" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^(.*)$ /index.php/$1 [L,QSA]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</IfModule>" | sudo tee -a /var/app/current/.htaccess > /dev/null
      fi
      if [ $ENV = 'dev' ]
          then
          echo "<IfModule mod_rewrite.c>" | sudo tee /var/app/current/.htaccess > /dev/null
          echo "RewriteEngine On" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteBase /" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<Limit GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all granted" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</Limit>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "<LimitExcept GET POST PUT DELETE OPTIONS>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "Require all denied" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</LimitExcept>" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^api/v1.0/([A-Za-z0-9]+)/(.*)\$ v10/\$1/\$2 [QSA,L]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteCond $1 !^(index\.php|docs|include|uploads|robots\.txt|Cart\.php)" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "RewriteRule ^(.*)$ /index.php/$1 [L,QSA]" | sudo tee -a /var/app/current/.htaccess > /dev/null
          echo "</IfModule>" | sudo tee -a /var/app/current/.htaccess > /dev/null
      fi

container_commands:
  04_install_htaccess:
    command: sudo /tmp/install_htaccess.sh








